/*   MEDIA QUERIES STYLING   */

@media only screen and (max-width: 833px) and (min-width: 100px)

{


    .navbar-container
    {
        /* padding: 5px; */
        width: 100%;
    }

    .nav-text
    {
       display: none;
    }

    .nav-search-image , .nav-bag-image
    {
        display: none;
    }

    .sub-nav
    {
        text-align: center;

        padding-left: 20%;
        padding-right: 20%;
    }

    .sub-nav-text
    {
        text-align: center;
        font-weight: 300;
        font-size: 0.85rem;

    }

    .iPhone_13
    {
        font-size: 2.7rem;
        font-weight: 400;
    }

    .learn_more
    {
        font-size: 1.2rem;
        padding-right: 5px;
    }

    .image-pannel1
    {
        width: 75%;
    }

    .pannel2
    {
        padding-top: 30px;
    }

    .new-sub-2
    {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .image-pannel2
    {
        width: 75%;
    }

    .pannel3
    {
        flex-direction: column;
    }

    .ipad_text_image
    {
        padding-top: 30px;
        width: 70%;
        height: 35%;
    }

    .light
    {
        padding-top: 0px;
    }

    .ipad_image
    {
        padding-top: 20px;
    }



}